.activity-column {
  @extend .user-dash;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  tr {

    border: $border;

    th {
      border: $border;
      padding: 1%;
    }

    td {
      border: $border;
      padding: 1%;
    }
  }
}