.activity-column {
  @extend .user-dash;
  background-color: #F6F3FF;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  tr {

    border: 1px solid black;

    th {
      border: 1px solid black;
      padding: 1%;
    }

    td {
      border: 1px solid black;
      padding: 1%;
    }
  }
}



// .card-today-activity {
//   text-align: center;
//   background-color: #DFE166;
//   height: auto;
//   font-size: 1.5em;
//   // margin: .3em;
//   font-family: sans-serif;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   width: 40%;
// }

// .card-history-activity {
//   text-align: center;
//   background-color: #DFE166;
//   font-size: 1em;
//   // margin: .5em;
//   font-family: sans-serif;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   width: 50%;
//   height: 93%;
//   overflow: scroll;
// }

// .horizontalCard-activity-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   width: 100%;
//   overflow: scroll;
// }
