.main-column-hydration {
  background-color: $white;
  grid-column: 3 / 4;
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

// .card-history-hydration {
//   text-align: center;
//   background-color: #5BC8AC;
//   font-size: 1em;
//   // margin: .5em;
//   font-family: sans-serif;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   width: 50%;
// }

// .card-today-hydration {
//   text-align: center;
//   background-color: #5BC8AC;
//   height: auto;
//   font-size: 1.5em;
//   // margin: .5em;
//   font-family: sans-serif;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   width: 80%;
// }
