@media screen and (max-width: 550px) {
  .main-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .user-dash {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .activity-column {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .main-column-hydration {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .main-column-sleep {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
}
