$white: #ffffff;
$light-purple: #BDC1FF;
$light-orange: #FFB079;
$dark-orange: #FE7A56;
$dark-purple: #794EFA;
$medium-purple: #B87ED4;
$green: #B6E499;
$plum: #4F3554;
$border: 1px solid black;
$radius: 10px;
$shadow: 0px 0px 20px black;
