* {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
}

h2 {
  font-size: 130%;
  font-weight: bold;
}

.this-week,
.streak-count,
.table-head {
  font-weight: bold;
}

.main-container {
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .2fr 1fr 1fr;
  background-color: $white;
}

.header {
  background-color: $light-orange;
  grid-column: 1 / 4;
  border-radius: 10px;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $plum;
  border: $border;
  border-radius: $radius;
  box-shadow: $shadow;
}

.sidebar-header-line {
  border: $border;
  width: 80%;
}

.card-vertical-list {
  list-style-type: none;
  font-weight: lighter;
  font-style: italic;
  padding-left: 0;
  font-size: 1em;
}

.hidden {
  display: none;
}